:root {
    --clr-primary-200:#f9faf8;
    --clr-primary-300:#e5e7eb;
    --clr-primary-700:#1f2937;

    --clr-accent-500:#3882f6;

    --ff-base: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-base);
    height: 100vh;
}

.header { 
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-200);
    padding: 1rem;
    gap: 2rem;
    
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-inline: 3rem;
}

.header-links {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.logo {
    --fs:1.5rem;
    font-size: var(--fs);
    font-weight: bold;
    
}
