:root {
    --clr-primary-200:#f9faf8;
    --clr-primary-300:#e5e7eb;
    --clr-primary-700:#1f2937;

    --clr-accent-500:#3882f6;
    
    --ff-base: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-base);
    height: 100vh;
}